<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.companyname.productname.modulename.listners.CustomListeners" />
		<!-- Add more listeners if needed -->
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
		<class name="com.companyname.productname.modulename.testcases.RegisterNewUser" />
			<!-- <class name="com.companyname.productname.modulename.testcases.RegisterNewUser" />
			 <class name="com.companyname.productname.modulename.testcases.TabAndWindows_TestNG_ConfigFiles2"/> 
				<class name="com.companyname.productname.modulename.testcases.TabAndWindows_TestNG_ConfigFiles3"/> 
				<class name="com.companyname.productname.modulename.testcases.TabAndWindows_TestNG_ConfigFiles4"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->


